################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0
/obj
/WebApiWithAuth.csproj.user
/bin/Debug/net9.0
